span.typing_text {
    font-size: 50px;
}
.typed-cursor {
    font-size: 40px;
}

.fa {
    color: black;
    transition: color .5s
}

.fa:hover {
    color: #F05F40;
}

.phone_number {
    color: #F05F40;
}

.email-me {
    font-size:18px;
}

/* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
@media (max-width:320px)  { }

/* smartphones, Android phones, landscape iPhone */
@media (max-width:480px)  { }

/* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
@media (max-width:600px)  { }

/* tablet, landscape iPad, lo-res laptops ands desktops */
@media (max-width:767px)  {
    span.typing_text {
        font-size: 30px;
    }
}
